body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

h1,
h2,
h3 {
    padding-bottom: 10px;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
}

p {
    line-height: 1.8;
}

span {}

ul {
    text-align: left;
}

li {
    font-size: 1.3rem;
    margin: 0.5rem;
}



/*Nav Bar*/

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    height: 5rem;
    width: 10rem;
}

/*Welcome Section*/

.jumbotron {
    background-image: url(../images/welcome.jpg);
    height: 850px;
    background-size: cover;
    background-position: center;
}

.welcome-h1 {
    color: #fff;
    font-size: 4rem;
    text-align: left;
    padding-top: 260px;
}

.welcome-span {
    font-weight: bold;
    font-size: 13rem;
}

/*About Section*/
#about {
    background-color: #08d0eb;
    color: #fff;
    padding: 5% 7%;
}

.about-p {}

#gallery {
    padding: 5% 7%;
}

#team {
    background-color: #ffa500;
    color: #fff;
    padding: 5% 7%;
    margin: 30px 0;

}

.team-card {
    background-color: #ffa500;
    width: 18rem;

}

.team-img {
    height: 18rem;
    width: 18rem;
}


/*Form*/

#form {
    background-image: url(../images/form.jpg);
    color: #fff;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.form {
    padding: 5% 7%;
}

.label {
    text-align: left;
}

.btn {
    text-align: center;
}

#contact {
    padding: 5% 10%;


}
