body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1, h2, h3 { 
    padding-bottom: 10px;
}

p {
    line-height: 1.8;
}

span {
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
}

ul {
    text-align: left;
}

li {
    font-size: 1.3rem;
    margin: 0.5rem;
}

/*Icons*/

 .icon {
    margin: 0 1rem;
}

/*Nav Bar*/

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    height: 5rem;
    width: 10rem;
}

/*Welcome Section*/

#welcome {
    background-image: ;
}

#about {
    background-color: #08d0eb;
    color: #fff;
    padding: 5% 7%;
}

#services {
    padding: 5% 7%;
}

#events {
    background-color: #08d0eb;
    color: #fff;
    padding: 5% 7%;
}

#gallery {
    padding: 5% 7%;
}

#team {
    background-color: #08d0eb;
    color: #fff;
    padding: 5% 7%;

}

#contact {
    padding: 5% 7%;
}